<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
</head>
<body>
    
    <div class="ok">
       
        <nav>
            <img src="./static/img/logo1(wbg).png" class="logo">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#">PORTFOLIO</a></li>
                
                <li><a href="#content">PROJECTS</a></li>
                <li><a href="https://github.com/search?q=toheed123">GITHUB</a></li>
                <li><a href="#cont">CONTACT</a></li>
                
            </ul>
        </nav>
        
        <div class="half">
            <div class="name">
                <h1>I,m Toheed <span> Shaikh</span> </h1>
                <p>This is my official portfolio website to shows all
                    <br>Detail and work experiences.
                </p>
                <a href="static/img/Toheed Resume.docx">DOWNLOAD CV</a>
            </div>
            
        </div>
    </div>

    <div class="content">
        <section id="about">
            <h1>About <span> Me</span></h1><br>
            <div class="aboutimg">
                <img src="static/img/amimg(wbg).png">
            </div>
            <div class="aboutcont">
                <h2>Hello,</h2><br>
                <p>This is  Toheed Shaikh in profession I'm website/backend developer<br>
                with good knowledge of backend techniques.<br>
                I have completed internship in "THE INTREPRENEVRSHIP NETWORK"<br>
                as a Python developer for 3 months and in "INTRIQUE SOLUTION"<br>
                as a Backend developer(django REST api) for 3 months.<br></p>
                <p>I have completed a Bachelor degree in Information Technology<br>
                from Mumbai University and am currently doing my Master degree in<br> 
                "Master of computer application(MCA)" from Mumbai University...<br>  

                </p>
            </div>
        </section>
    </div>
    <div class="content2">
        <section id="content">
            <h1>Project<span>s</span></h1><br>
            <div class="cont2">
                <img src="static/img/project2.png">
            </div>
            <div class="aboutproj">
                <h2>Django REST <span>Api</span></h2><br>
                <span>Voter Information</span><br>
                <p>Django REST Api with four models<br>
                you can perform CRUD operations on the model.<br>
                Link of Api=></p>
                <a href="https://quicksirih.herokuapp.com/">https://quicksirih.herokuapp.com/</a>

                
            </div>
            <div class="proj2img">
                <img src="static/img/project3.png">
            </div>
            <div class="proj2">
                <h2>.Net <span>Framework</span></h2><br>
                <span>Flight Ticket Booking</span><br>
                <P>Front-end:C#<br>
                Back-end:SqlLite</P>
                <p>Source Code Link=><br></p>
                <a href="https://github.com/Toheed123/Airline">https://github.com/Toheed123/Airline</a>
            </div>
            <div class="proj3img">
                <img src="static/img/project1.jpg">
            </div>
            <div class="proj3">
                <h2>Cyber-<span>Camp website</span></h2>
                <p>Front-End:HTML,CSS and Bootstrap4<br>
                Back-End:Django Rest Api<br>
                The aim is to provide services of cybercamp.</p>
                <a href="https://github.com/Toheed123/Cyber-Camp">https://github.com/Toheed123/Cyber-Camp</a>
            </div>
        </section>
        

    </div>
    <div class="Contact">
        <section id="cont">
            <h1>Contact<span>Me </span></h1>
            <div class="gmail">
                <img src="static/img/gmail2.png">
                
            </div>
            <div class="in">
                <img src="static/img/linkedin2.png">
            </div>
            <div class="gmailcon">
                <h2>Contact through gmail<br></h2>
                <span>Let's be real no one likes more email...</span>
                <p>Gmail Id=>toheedsk58@gmail.com<br>
                toheedsk58@icloud.com</p>

            </div>
            <div class="linkedincont">
                <h2>Connect through LinkedIn</h2><br>
                <span>Skip the set-up.Be direct.How can I help you?<br></span>
                <p>Username=>toheed shaikh</p>
            </div>

        </section>
    </div>
    
    
    
</body>
</html>